.navigation {
 display: flex;
 gap: .5rem;
}

.b-navigation {
  inline-size: 1.88rem;
  aspect-ratio: 1/1;
  background: var(--gray60);
  color: var(--gray10);
  border: none;
  border-radius: 50%;
}

.b-navigation .icon-arrowRight {
  position: relative;
  inset-inline-start: 1px;
  inset-block-start: 1px;
  cursor: not-allowed;
}

.b-navigation .icon-arrowLeft {
  position: relative;
  inset-inline-start: -1px;
  inset-block-start: 1px;
}